.footer {
    background-color: $black;
    padding-top: rem(62px);
    position: relative;
}

.footer__up {
    margin-bottom: rem(40px);
}

.footer__menu {
    &.col-lg-3 {
        @include small-desktop {
            flex: 0 0 22%;
            max-width: 22%;
        }
        @include tablets {
            max-width: 50%;
            flex: 0 0 50%;
        }
    }

    &.col-lg-2 {
        @include small-desktop {
            flex: 0 0 22%;
            max-width: 22%;
        }
        @include tablets {
            max-width: 50%;
            flex: 0 0 50%;
        }
    }
    @include tablets {
        margin-bottom: 10px;
    }
}


.footer__menu-title {
    font-size: rem(18px);
    margin-bottom: rem(20px);
    color: #ffffff;
}

.footer__menu-list {
    display: flex;
    flex-wrap: wrap;

    &--sm {
        flex-direction: column;
    }
}

.footer__menu-item {
    width: 50%;
    white-space: nowrap;

    @include laptop {
        width: 100%;
    }
}

.footer__menu-link,
.footer__address-text {
    font-size: rem(15px);
    line-height: 2;
    font-weight: 300;
    color: $text-gray;

    &:hover {
        text-decoration: underline;
    }
}

.footer__address-text {
    color: #FFFFFF;
}

.footer__btn {
    font-size: rem(16px);
    white-space: nowrap;
}

.footer__down {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #606060;
    border-top: 1px solid #606060;
    padding: rem(27px) 0;
}

.footer__socials-list {
    display: flex;
    align-items: center;
}

.footer__socials-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(40px);
    height: rem(40px);
    background: #363636;
    border-radius: 1px;
    margin-right: rem(20px);

    &:last-child {
        margin-right: 0;
    }
}