.contacts-main {
    &--inner {
        padding-bottom: 0;
    }
}
.contacts__main-title {
    text-align: center;
    margin-bottom: rem(60px);
}

.contacts__head {
    margin-bottom: rem(24px);
    &--inner {
        margin-bottom: rem(64px);
    }
}

.contacts__address {
    display: flex;
    @include laptop {
        flex-direction: column;
    }
    @include tablets {
        margin-bottom: rem(20px);
    }
}

.contacts__col {
    width: 60%;
    margin-right: rem(12px);
    @include laptop {
        width: 100%;
    }
}

.contacts__col-address {
    display: flex;
    font-family: $ynormal;
    font-size: rem(18px);
    line-height: rem(21px);
    &:before {
        content: '';
        width: rem(28px);
        margin-right: rem(11px);
        flex-shrink: 0;
        background: url('../images/map-marker.png') center top / contain no-repeat;
        @include tablets {
            width: rem(40px);
            height: rem(40px);
        }
    }
    @include laptop {
        margin-bottom: 10px;
    }
}

.contacts__col-desc {
    @include laptop {
        padding-left: rem(32px);
    }
    @include tablets {
        padding-left: rem(46px);
    }
}

.contacts__phone {
    font-family: $ynormal;
    font-size: rem(18px);
    line-height: rem(21px);
    color: $purple;
    white-space: nowrap;
}

.contacts__time {
    font-size: rem(18px);
    line-height: rem(21px);
    font-weight: 300;
}

.contacts__map {
    &--inner {
        width: 100%;
        img {
            display: block;
            width: 100%;
        }
    }
}