.repair__desc {
    max-width: 789px;
    position: relative;
    @include small-desktop {
        max-width: rem(600px);
    }
    @include laptop {
        max-width: rem(500px);
    }
}

.repair__desc-cover {
    position: absolute;
    left: 105%;
    top: -40px;
}