.sewing__card {
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
    &:hover {
        background-color: $pink-intence;
        .btn {
            background: $gradient;
            color: #FFFFFF;
        }
    }
}
.sewing__card-picture {
    flex-shrink: 0;
    width: rem(320px);
    height: rem(278px);
    @include phones {
        width: rem(180px);
        img {
            height: 100%;
            object-fit: cover;
        }
    }
}

.sewing__card-content {
    padding-top: rem(25px);
    padding-right: rem(38px);
    padding-bottom: rem(36px);
    padding-left: rem(30px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include small-desktop {
        padding-top: rem(20px);
        padding-right: rem(20px);
        padding-bottom: rem(20px);
        padding-left: rem(20px);
    }
    @include laptop {
        padding-top: rem(15px);
        padding-bottom: rem(15px);
    }
}

.sewing__card-title {
    font-family: $ynormal;
    font-size: rem(24px);
    margin-bottom: rem(13px);
}

.sewing__card-desc {
    font-weight: 300;
    color: $black-light;
}

.sewing__promo {
    display: flex;
    margin-bottom: rem(56px);
}
.sewing__promo-left, .sewing__promo-right {
    height: 830px;
    background: center top / cover no-repeat;
    @include tablets {
        height: rem(500px);
    }
    @include phones {
        height: rem(350px);
    }
}
.sewing__promo-left {
    width: 65%;
}

.sewing__promo-right {
    width: 35%;
}

.sewing-slider__slider-buttons {
    @include small-desktop {
        transform: translateY(0);
        top: rem(210px);
    }
    @include tablets {
        transform: translateY(-50%);
        top: 50%;
    }
}
